@{
}

@model Checkout

<div>
    <h1 class="text-center">Checkout</h1>
    <div asp-validation-summary="All" class="text-danger text-center">

    </div>
    <table class="table w-75 mx-auto">
        <form method="post">
            <tbody>
                <tr class="form-group">
                    <td class="text-right">
                        <label asp-for="@Model.CustomerFirst">First Name:</label>
                    </td>
                    <td>
                        <input asp-for="@Model.CustomerFirst" />
                    </td>                   
                </tr>
                <tr class="form-group">
                    <td class="text-right">
                        <label asp-for="@Model.CustomerLast">Last Name:</label>
                    </td>
                    <td>
                        <input asp-for="@Model.CustomerLast" />
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="text-right">
                        <label asp-for="@Model.DeliveryAddress">Address for Delivery:</label>
                    </td>
                    <td>
                        <input asp-for="@Model.DeliveryAddress" />
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="text-right">
                        <label asp-for="@Model.DeliveryCity">City for Delivery:</label>
                    </td>
                    <td>
                        <input asp-for="@Model.DeliveryCity" />
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="text-right">
                        <label asp-for="@Model.DeliveryState">State for Delivery:</label>
                    </td>
                    <td>
                        <input asp-for="@Model.DeliveryState" />
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="text-right">
                        <label asp-for="@Model.DeliveryZip">Zipcode for Delivery:</label>
                    </td>
                    <td>
                        <input asp-for="@Model.DeliveryZip" />
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="text-right">
                        <label asp-for="@Model.IsPOBox">Check for PO Box Delivery</label>
                        <input class="custom-checkbox" type="checkbox" asp-for="@Model.IsPOBox" />
                    </td>
                </tr>
                <tr class="form-group">
                    <td colspan="2" class="text-right">
                        <button type="submit" class="btn btn-success">Purchase</button>
                    </td>
                </tr>
            </tbody>
        </form>
    </table>       
</div>