@page
@model Bookstore.Pages.CartModel
@{
}

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <td>Book Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Subtotal</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var book in Model.cart.BooksToBuy)
            {
                <tr>
                    <td>@book.Book.Title</td>
                    <td>@book.Book.Category</td>
                    <td>@book.Book.Price.ToString("c")</td>
                    <td>@book.Quantity</td>
                    <td>@((book.Quantity * book.Book.Price).ToString("c"))</td>
                </tr>
            } 
    </tbody>

    <tfoot>
        <tr>
            <td colspan="4">Total</td>
            <td>@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>

<div>
    <a class="btn btn-primary" href="@Model.returnURL">Continue Shopping</a>
</div>